/*general cosmetic styles*/
:root {
	--hue-accent: 120; /*question: include deg unit for hues? (currently never)*/
	--hue-accent2: calc(var(--hue-accent) + 180);
	/*--img-filter1: ;*/
	/*--img-filter1: brightness(1);*/ /*placebo*/
	/*--img-hue-shift: 0deg;*/
	--img-hue-shift: calc(var(--hue-accent, 120)*1deg - 120deg);
	/*--img-filter: var(--img-filter1, none);*/
}
/* html {
	position: relative;

	box-sizing: border-box;
	margin: 0px;
	border-width: 0px;
	
	width: 100%;
	height: 100%;
	min-height: 100%;
	padding: 0px;
} */
/* body {
	box-sizing: border-box;
	margin: 0px;
	border-width: 0px;
	
	width: 100%;
	height: 100%;
	padding: 0px;
} */
/* body > #wrapper {
	box-sizing: border-box;
	margin: 0px;
	border-width: 0px;
	
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0px;
} */

article, footer {
	/*max-width: 120ch;*/
	margin-inline: max(0ch, calc(50% - 0.5*120ch));
}
details > summary {
	cursor: pointer;
}

code:not(.long) { /*class "long" reserved for future use*/
	user-select: all;
}

/*to do: fix check box vertical alignment (if possible)*/
button, input:not([type=checkbox]):not([type=radio]) {
	font-size: 0.85em;
	margin-block: 0.125em;
}
button {
	font-weight: bold;

	padding-block: 0.125em;
	padding-inline: 0.375em;
	border-radius: 0.25em;
}
button, input[type=number], input[type=text], textarea, select {
	border-width: calc(5em/32);
}
:is(button, input[type=number], input[type=text], textarea, select):not(:active):not(:focus):not(:hover) {
	opacity: 0.875;
}
input[type=number] {
	padding-inline: 0em;
}
input[type=text], textarea, select {
	border-radius: 0.125em 0.25em 0.25em 0.125em; /*left-aligned -> border slightly sharper at the left side*/
}
input[type=checkbox] {
	margin-inline: 0.125em;
}
input[type=number], #txtRhythmFactors {
	border-radius: 0.25em 0.125em 0.125em 0.25em; /*right-aligned -> border slightly sharper at the right side*/
}

.cell {
	margin-inline: 0.375ch;
}
#outAudioT {
	display: inline-block;
	min-width: 6ch;
	text-align: right;
}
.tool-tip {
	font-style: italic;

	/*position: sticky;*/
	bottom: 0em;
	padding-block: 1em;
	padding-inline: max(2ch, calc(50% - 0.5*120ch));
	width: calc(100% - 2*2ch);
	max-width: 120ch;

	background-color: canvas;
}
.codeEditor {
	font-size: 90%;
}

img:not(.trueColors) { /*class "trueColors" reserved for future use*/
	/*filter: var(--img-filter, none);*/
	/*filter: hue-rotate(var(--img-hue-shift, 0deg));*/
	filter: var(--img-filter1, ) hue-rotate(var(--img-hue-shift, 0deg));
	/*filter: var(--img-filter1) hue-rotate(calc(var(--hue-accent, 120)*1deg - 120deg));*/
}

/*svg rect {*/
svg g {
	fill: url(#noteFill1);
}
