/*general basic styles*/
/*body {
	display: flex;
	flex-direction: column;
	align-items: center;
}*/

/*unhide certain elements (outside of reader view)*/
main, hr, .bg {
	display: revert;
}

div > h1 {
	margin-block: 0em;
}
div.flex-row, p:first-child {
	margin-block-start: 0em;
	margin-block-end: 1em;
}
details {
	margin-bottom: 1.5em;
}
noscript {
	font-size: 1.25em;
}

/*article p:first-child {
	margin-top: 0em;
}*/
/*p {*/
	/*line-height: 125%;*/
	/*line-height: 1.5;*/
	/*line-height: 1.25em;*/
/*}*/
p, p * {
	hyphens: auto;
}

a[hidden] {
	display: none;
}

input[type=number] {
	text-align: right;
	width: 8ch;
}
/*input[type=number]:not([size]) {
	width: 8ch;
}*/
/*input.exp:not([size]) {
	width: 8ch;
}*/
#txtRhythmFactors {
	text-align: right;
	width: 12ch;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.flex-row > *:not(wbr) {
	flex-grow: 1;
	flex-shrink: 1;
}
.flex-row > wbr {
	display: none;
}
.flex-row > .right {
	flex-basis: 32ch;
	flex-shrink: 2;
}
/*@media (min-width: 96ch) {
	.flex-row {
		flex-wrap: nowrap;
	}
}*/
.align-top {
	align-items: flex-start;
}
.cell, .chunk {
	display: inline-block;
}
.right {
	text-align: right;
}

.codeEditor {
	box-sizing: border-box;
	width: 100%;
	resize: none;
	overflow-y: auto;
	min-height: 8em;
	white-space: pre;
	tab-size: 4;
}
.codeEditor.expanded {
	height: unset;
}
.codeEditor.lineWrapping {
	white-space: pre-wrap;
}

#imgVisualizer {
	width: 100%;
	/*height: 6em;*/
	height: 96px;
}
#title-icon {
	height: 1em;
	width: auto;
}
#title-icon img {
	height: 1em;
	width: auto;
	vertical-align: text-bottom;
	/*vertical-align: middle;*/
}

#tblFractionIntervals td:nth-child(1) {
	text-align: center;
}
#tblFractionIntervals td:nth-child(2) {
	text-align: center;
	/*white-space: break-spaces;*/
}
#tblFractionIntervals td:nth-child(3) {
	text-align: right;
}
