/*we live in an HDR/deep color era, so 24-bit color codes are a thing of the past.*/
/*question: alpha makes the page ready for custom backgrounds, but surely consumes more GPU.*/
:root {
	--img-filter1: contrast(87.5%);
}
* {
	/*scrollbar-color: hsla(var(--hue-accent, 120), 37.5%, 37.5%, 0.875) hsla(var(--hue-accent, 120), 25%, 12.5%, 0.875);*/
	scrollbar-color:
		hsla(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 37.5%, 75%, 0.875)
		hsla(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 25%, 25%, 0.875);
}
body {
	background-color: hsl(var(--hue-accent, 120), 37.5%, 25%);
	/*background-image: 
		repeating-radial-gradient(circle,
		hsla(var(--hue-accent, 120), 37.5%, 18.75%, 0.875),
		hsla(var(--hue-accent, 120), 37.5%, 37.5%, 0.375),
		hsla(var(--hue-accent, 120), 37.5%, 18.75%, 0.875))*//*,
		repeating-conic-gradient(at bottom right,
		hsl(var(--hue-accent, 120), 50%, 12.5%) 0turn,
		hsl(var(--hue-accent, 120), 37.5%, 18.75%) 0.03125turn,
		hsl(var(--hue-accent, 120), 50%, 12.5%) 0.0625turn)*//*;*/
		/*repeating-conic-gradient(at bottom right,
		hsl(var(--hue-accent, 120), 37.5%, 12.5%) 0.0625turn 0.1875turn,
		hsl(var(--hue-accent, 120), 37.5%, 37.5%) 0.3125turn 0.4375turn,
		hsl(var(--hue-accent, 120), 37.5%, 12.5%) 0.5625turn);*/
	/*background-attachment: local, fixed;*/
	/*background:
		repeating-conic-gradient(#888 0.0625turn 0.1875turn, #000 0.3125turn 0.4375turn, #888 0.5625turn)
		top left / 8em 8em repeat;*/
	color: hsla(var(--hue-accent, 120), 0%, 100%, 0.875);
	accent-color: hsl(var(--hue-accent, 120), 50%, 62.5%);
	color-scheme: dark;
}
@media screen and not (prefers-reduced-motion: reduce) {
	:root::selection, *::selection { /*not really working*/
		transition-property: background-color, color !important;
		transition-duration: 0.25s !important;
	}
}
/*::selection {*/
:not(code):not(code *):not(.codeEditor):not(.codeEditor *)::selection { /*bugfix for Blink*/
	/*background-color: hsla(var(--hue-accent, 120), 100%, 87.5%, 0.625);
	color: hsla(var(--hue-accent, 120), 100%, 12.5%, 0.875);*/
	background-color: hsla(calc(var(--hue-accent, 120) + var(--hue-anim, 0)), 100%, 87.5%, 0.625);
	color: hsla(calc(var(--hue-accent, 120) + var(--hue-anim, 0)), 100%, 12.5%, 0.875);
}

strong {
	color: white;
}
:is(h1, h1 *, h2, h2 *, h3, h3 *, strong, strong *, em, em *)::selection {
	background-color: hsla(var(--hue-accent, 120), 100%, 87.5%, 0.75) !important;
	color: hsl(var(--hue-accent, 120), 100%, 12.5%) !important;
}

noscript {
	color: hsl(0, 100%, 87.5%);
}
hr {
	border-color: hsla(var(--hue-accent, 120), 25%, 50%, 0.75);
}
table, caption, td {
	background-color: hsla(0, 0%, 0%, 0.25);
}

:is(.codeEditor, .codeEditor *, code, code *)::selection {
	background-color: hsla(var(--hue-accent2, 300), 50%, 12.5%, 0.75) !important;
	color: hsla(var(--hue-accent2, 300), 100%, 87.5%, 0.875) !important;
}
:is(strong code, strong code *, em code, em code *, code strong, code strong *, code em, code em *, .codeEditor strong, .codeEditor strong *, .codeEditor em, .codeEditor em *)::selection {
	background-color: hsla(var(--hue-accent2, 300), 50%, 12.5%, 0.875) !important;
	color: hsl(var(--hue-accent2, 300), 100%, 87.5%) !important;
}

a:link {
	color: hsla(var(--hue-accent, 120), 100%, 87.5%, 0.875);
}
a:visited {
	color: hsla(30, 75%, 75%, 0.875);
}
a:active {
	color: hsl(var(--hue-accent, 120), 100%, 87.5%);
}

/*input, button, textarea, *[contenteditable] {
}*/
input::selection {
	background-color: hsla(var(--hue-accent, 120), 25%, 87.5%, 0.75);
	color: hsla(var(--hue-accent, 120), 100%, 12.5%, 0.875);
}
button {
	/*background-color: hsl(var(--hue-accent, 120), 0%, 75%);
	color: hsl(var(--hue-accent, 120), 0%, 25%);*/
	background-color: hsl(var(--hue-accent, 120), 37.5%, 18.75%);
	color: hsl(var(--hue-accent, 120), 50%, 75%);

	border-style: solid;
	border-top-color: hsla(var(--hue-accent, 120), 25%, 75%, 0.75);
	border-right-color: hsla(var(--hue-accent, 120), 25%, 37.5%, 0.5);
	border-left-color: hsla(var(--hue-accent, 120), 25%, 37.5%, 0.5);
	border-bottom-color: hsla(var(--hue-accent, 120), 25%, 12.5%, 0.75);
}
button:active {
	border-top-color: hsla(var(--hue-accent, 120), 25%, 12.5%, 0.25);
	border-bottom-color: hsla(var(--hue-accent, 120), 25%, 75%, 0.25);
}
input[type=number], input[type=text], textarea, select {
	background-color: hsl(var(--hue-accent, 120), 50%, 12.5%);
	color: hsl(var(--hue-accent, 120), 50%, 87.5%);

	border-style: solid;
	border-top-color: hsla(var(--hue-accent, 120), 25%, 12.5%, 0.625);
	border-right-color: hsla(var(--hue-accent, 120), 25%, 50%, 0.5);
	border-left-color: hsla(var(--hue-accent, 120), 25%, 50%, 0.5);
	border-bottom-color: hsla(var(--hue-accent, 120), 25%, 87.5%, 0.625);

	/*border-image-source: linear-gradient(to bottom,
		hsla(var(--hue-accent, 120), 25%, 25%, 0.75),
		hsla(var(--hue-accent, 120), 25%, 50%, 0.5),
		hsla(var(--hue-accent, 120), 25%, 75%, 0.75));
	border-image-repeat: stretch;
	border-image-slice: 15%;*/
}
/*input[type=checkbox] {
}*/ /*question!*/
/*input:invalid {*/
input.invalid {
	background-color: hsl(0, 100%, 12.5%) !important;
}

.tool-tip {
	background-color: hsla(var(--hue-accent, 120), 25%, 12.5%, 0.875);
}

.codeEditor {
	background-color: hsla(var(--hue-accent, 120), 12.5%, 100%, 0.625);
	color: hsl(var(--hue-accent, 120), 25%, 0%);
	scrollbar-color: hsla(var(--hue-accent, 120), 37.5%, 25%, 0.875) hsla(var(--hue-accent, 120), 25%, 75%, 0.875);
}
.codeEditor.invalid {
	background-color: hsla(0, 100%, 75%, 0.75);
}

#imgVisualizer {
	background-color: hsla(0, 0%, 0%, 0.25);
}
linearGradient#noteFill1 stop {
	/* stop-color: hsla(var(--hue-accent2, 300), 75%, 75%, 0.875); */
	stop-color: hsl(var(--hue-accent2, 300), 75%, 75%);
}
